
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- Tell the browser to be responsive to screen width -->
    
    <!-- Bootstrap 3.3.6 -->
    @*<link rel="stylesheet" href="~/Vendor/Test/bootstrap/css/bootstrap.min.css">*@
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">*@
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/Vendor/Test/dist/css/AdminLTE.min.css">*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    @*<link rel="stylesheet" href="~/Vendor/Test/dist/css/skins/_all-skins.min.css">*@
    <!-- bootstrap wysihtml5 - text editor -->
    @*<link rel="stylesheet" href="~/Vendor/Test/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">*@


    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            CK Editor
                            <small>Advanced and full of features</small>
                        </h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <form>
                            <textarea id="editor1" name="editor1" rows="10" cols="80">
                                            This is my textarea to be replaced with CKEditor.
                    </textarea>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
    </section>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.0 -->
    <script src="~/Vendor/Test/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Vendor/Test/bootstrap/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    @*<script src="~/Vendor/Test/plugins/fastclick/fastclick.js"></script>*@
    <!-- AdminLTE App -->
    @*<script src="~/Vendor/Test/dist/js/app.min.js"></script>*@

    <!-- AdminLTE for demo purposes -->
    @*<script src="~/Vendor/Test/dist/js/demo.js"></script>*@
    <!-- CK Editor -->
    <script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    @*<script src="~/Vendor/Test/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>*@
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('editor1');
            //bootstrap WYSIHTML5 - text editor
            $(".textarea").wysihtml5();
        });</script>



