<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AngleDB.Properties.Settings.dermics_us_dbConnectionString"
            connectionString="Data Source=132.148.167.179,1434;Initial Catalog=dermics_testdb;Persist Security Info=True;User ID=test_user;Password=IamTestUser!@#*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
